apps:
  - name: score-service-api
    environment: production
    codebase: score-service
    replicaCount: 1
    container:
      image:
        repository: osuakatsuki/score-service
        tag: latest
      port: 80
      env:
        - name: APP_COMPONENT
          value: api
      imagePullSecrets:
        - name: osuakatsuki-registry-secret
    service:
      type: ClusterIP
      port: 80
